/* .example {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
} */

/* @media screen and  (max-width: 668px) {
    .example {
      /* flex: 50%; */
      width: 500px;
      height: 400px;
    }
  }

  @media screen and  (min-width: 480px) {
    .example {
      /* flex: 50%; */
      width: 70px;
      height: 60px;
    }
  } */